@media print {
  header {
    display: none !important;
  }
  .delete {
    display: none !important;
  }
  h1 {
    margin-top: 0.5em;
  }
  #students section {
    break-inside: avoid;
  }
  #students section * {
    break-before: avoid;
    break-after: avoid;
  }
}

#students {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin: 2em;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#students section {
  width: 150px;
  border: 1px solid gray;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-flow: no-wrap;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  position: relative;
}

#students h2 {
  font-size: 105%;
  text-align: center;
}

.list #students {
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 0;
}

.list #students section {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  width: 100% !important;
  border-radius: 1px;
}

.list #students section img {
  height: 60px;
  width: 40px;
  padding-right: 10px;
}

img {
  width: 150px;
  height: 220px;

}

.small img {
  width: 80px;
  height: 120px;
}

.small #students section {
  width: 80px;
}

.small #students h2 {
  font-size: 90%;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#options {
  display: flex;
  flex-direction: row;
  padding: 1em;
  gap: 1em;
}

#options * {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.2em;

}

#options button {
  padding-left: 0.4em;
  padding-right: 0.4em;
}

#options button:hover {
  filter: brightness(80%);
}


#options label {
  width: fit-content;
  padding: 0.2em;
}

#options label:hover {
  background-color: rgb(230, 230, 230);
}

h1 {
  text-align: center;
}

.list #toList, .grid #toGrid, .small #toSmall, .large #toLarge {
  filter: brightness(70%);
}

.button-group {
  gap: 0;
  display: flex;
}

#options .button-group button:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

#options .button-group button:not(:last-child) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.hidden {
  display: none;
}

#students section button {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 20px;
  color: red;
  opacity: 0.4;
}

#students section button:hover {
  opacity: 1;
}

#instructions li::marker {
  content: "\27BC";
}
#instructions li::before {
  content: "";
  padding-left: 2px !important;
}
