#students {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin: 2em;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#students section {
  width: 150px;
  border: 1px solid gray;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  flex-flow: no-wrap;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

#students h2 {
  font-size: 105%;
  text-align: center;
}
img {
  width: 150px;
  height: 250px;

}

@media print {
  #options * {
    display: none;
  }
}

#options {
  display: flex;
  flex-direction: row;
  padding: 1em;
  gap: 1em;
}

#options * {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 0.2em;

}

#options button {
  padding-left: 0.4em;
  padding-right: 0.4em;
}

#options button:hover {
  filter: brightness(80%);
}


#options label {
  width: fit-content;
  padding: 0.2em;
}

#options label:hover {
  background-color: rgb(230, 230, 230);
}

h1 {
  text-align: center;
}
